nav {
    background-color: #89ceeb;
    text-align: center;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    font-family: Cambria;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}