.search {
    max-width: 700px;
    margin: 30px auto;
    text-align: center;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.search input {
    width: 100%;
    padding: 8px 16px;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.search h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #89ceeb;
}
.filter h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #89adeb;
    text-align: left;
    margin-top: 100px;
    vertical-align: bottom;
    
}
.actualsearch i{
    align-items: top;
    align-self: top;
}
.actualsearch button{
    float: left;
    width: 40px;
    height: 50px;
    padding: 10px;
    margin-top: 18px;
    margin-right: 20px;
    background: #89ceeb;
    color: white;
    font-size: 17px;
    border: 1px solid white;
    border-left: none; /* Prevent double borders */
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    cursor: pointer;
}
.actualsearch input {
    width: 80%;
    margin-top: 20px;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.actualsearch
{
     align-items: baseline 
}
.Min_Upload_Date
{
    align-items: baseline 
}
.Min_Upload_Date h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}
.Min_Upload_Date { text-align: left;}
.Min_Upload_Date > h6 { display: inline-block; text-align: left; margin-left: 10px;}
.Min_Upload_Date input { max-width: 180px; margin-left: 10px; font-size: 10px; }
.extraCheckBox input  { max-width: 120px; margin-left: 10px; font-size: 10px; }
.extraCheckBox
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    text-align: left;
}


.extraCheckBox h6
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5px;
    display: inline-block;
    margin-right: 5px;
    text-align: left;
}
.extraCheckBox label
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
    margin-left: 5px;
    text-align: left;
}

.tri
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
    font-size: 16px;
    max-width: 160px;
}

.tri h4
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #217295;
    margin-left: 5px;
}
.tri label
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-right: 5px;
    margin-left: 5px;
}
